<p id="notice"><%= notice %></p>

<h1>Listing Holidays</h1>

<table>
  <thead>
    <tr>
      <th>Celebrated on</th>
      <th>Name</th>
      <th>Origin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <%= render holiday %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday', new_holiday_path, remote: true %>

<div id="new-form">
</div>
